[submodule "repo"]
	path = repo
	url = https://github.com/SecretOnline/NMS-Info
[submodule "countdown"]
	path = countdown
	url = https://github.com/SecretOnline/NMS-Countdown
[submodule "new-repo"]
	path = new-repo
	url = https://github.com/SecretOnline/Info-Repo.git
